/* Basic CSS Reset (optional, but helps standardize the look) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a dark background and light text */
body {
    background-color: #000000; /* Dark background color */
    color: white; /* Light text color */
    font-family: 'Courier New', monospace; /* Set a readable font */
    margin: 20px; /* Optional: adds some space around content */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

/* Style headings */
h1 {
    color: #f1f1f1; /* Lighter color for headings */
    /* text-align: center; Center the title */

    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;

    font-size: 1.25rem;
    /* margin: 0 0 1.5rem 0; */

    border-bottom: 0;
    color: inherit;
    text-decoration: none;
}

/* Style paragraphs */
p {
    color: #d1d1d1; /* Light gray for paragraph text */
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center; /* Center the paragraph */
}